import { defineConfig } from "@constellation4sitecore-content-sdk/nextjs/config";


export default defineConfig({
  virtualFolders: {
    enabled: process.env.VIRTUAL_FOLDERS_ENABLED === "true",
  }
});
